
.home__body {

    // ******* PRIMARY CONTAINERS *******


    footer .wrapper {
        display: flex;
        background-color: $mauve;
        padding-top: 75px;
        padding-bottom: 85px;
    }

    // ******* IMAGES *******
    footer .footer__div-img:nth-child(2) {
        margin: 0 35px;
    }

    // ******* NAVIGATION, MENUS, BUTTONS, ANCHORS *******


    // ******* FONT COLOUR AND POSITIONING *******

    
}