// ******* PRIMARY CONTAINERS OF MAIN *******
.products {
    position: relative;
}

.products .wrapper {
    display: flex;
}

.products div:nth-child(2) {
    justify-content: flex-end;
}

.products div:nth-child(4) {
    justify-content: flex-start;
} 

.products__div-text-left, .products__div-text-right {
    width: 50%;
    padding-top: 80px;
    padding-bottom: 40px;
}

.products__div-text-left {
    padding-left: 70px;
}

.products__div-text-right {
    padding-right: 70px;
    text-align: right;
}

.outreach {
    background-color: $mauve;
}
// ******* IMAGES *******
.products__div-img-left, .products__div-img-right {
    width: 40vh;
    position: absolute;
}

.products__div-img-left {
    left: 0;
    top: 0;
}

.products__div-img-right {
    right: 0;
    bottom: 0;
}

// ******* NAVIGATION, MENUS, BUTTONS, ANCHORS *******
.products a {
    background-color: $brown;
    color: white;
    text-transform: uppercase;
    padding: 8px 15px;
}

// ******* FONT COLOUR AND POSITIONING *******
.products h2 {
    text-transform: uppercase;
}

.products__div-text-right h2 {
    text-align: right;
}
.products p {
    margin: 20px 0;
}