.home__body {

    // ******* PRIMARY CONTAINERS OF MAIN *******
    .products {
        position: relative;
    }

    .products .wrapper {
        display: flex;
    }

    .products div:nth-child(2) {
        justify-content: flex-end;
    }

    .products div:nth-child(4) {
        justify-content: flex-start;
    } 

    .products__div-text-left, .products__div-text-right {
        width: 50%;
    }

    .products__div-text-left {
        padding: 55px 0 80px 70px;
    }

    .products__div-text-right {
        padding: 55px 70px 40px 0;
        text-align: right;
    }

    .outreach {
        background-color: $mauve;
        padding-top: 120px;
    }

    .outreach__ul-icons {
        display: flex;
        flex-wrap: wrap;
    }

    .outreach__ul-icons li {
        width: 50%;
        display: flex;
    }

    .outreach__div-text {
        display: inline-block;
        width: 85%;
        margin-left: 20px;
        margin-bottom: 50px;
    }
    
    .popular .wrapper {
        padding-top: 100px;
        padding-bottom: 85px;
        display: flex;
    }

    .popular__div-text {
        padding-left: 100px;
    }
    // ******* IMAGES *******
    .products__div-img-left, .products__div-img-right {
        width: 40vw;
        min-width: 450px;
        max-width: 550px;
        position: absolute;
    }

    .products__div-img-left {
        left: 0;
        top: -50px;
        box-shadow: 30px 25px $orange;
    }

    .products__div-img-right {
        right: 0;
        bottom: -50px;
        box-shadow: -30px 25px $orange;
    }

    .popular__div-bg-oxford {
        background-image: url(./../shoe-kloset/banner.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 30vh;
    }

    .popular__div-img-platform {
        flex-basis: 280px;
        flex-shrink: 0;
        position: relative;
        top: -30px;
    }

    .popular__div-img-platform img {
        box-shadow: 30px 30px $orange;
    }

    // ******* NAVIGATION, MENUS, BUTTONS, ANCHORS *******
    .products a {
        background-color: $brown;
        color: white;
        text-transform: uppercase;
        padding: 10px 15px;
    }

    .popular a {
        background-color: $brown;
        color: white;
        text-transform: uppercase;
        padding: 10px 15px;
    }
    // ******* FONT COLOUR AND POSITIONING *******
    .products h2 {
        text-transform: uppercase;
    }

    .products__div-text-right h2 {
        text-align: right;
    }
    .products p {
        margin: 20px 0;
    }

    .outreach__ul-icons i {
        background-color: $plum;
        display: inline-block;
        color: white;
        border-radius: 50%;
        text-align: center;
        font-size: 2.8rem;
        min-height: 5.5rem;
        min-width: 5.5rem;
        line-height: 5.5rem;
        align-self: flex-start;
    }

    .outreach__ul-icons h2, .popular__div-text h2 {
        text-transform: uppercase;
    }

    .popular p {
        margin-bottom: 20px;
    } 
}