* {
    margin: 0;
    padding: 0;
}


img {
    width: 100%;
    display: block;
    height: auto;
}

button {
	background: none;
	border: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
}

.wrapper {
    max-width: $wrapper-max;
    margin: 0 auto;
}

.container {
    padding: 0 7%;
}
