.blog__body {


// ******* PRIMARY CONTAINERS OF MAIN *******
header {
    background-image: url(./../shoe-kloset/blog-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
}


// ******* IMAGES *******



// ******* NAVIGATION, MENUS, BUTTONS, ANCHORS *******


// ******* FONT COLOUR AND POSITIONING *******


    
}