.blog__body {


// ******* PRIMARY CONTAINERS *******
header {
    background-image: url(./../shoe-kloset/blog-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
}


// ******* IMAGES *******



// ******* NAVIGATION, MENUS, BUTTONS, ANCHORS *******


// ******* FONT COLOUR AND POSITIONING *******
h1 {
    color: $plum;
    text-transform: uppercase;
}

p {
    padding-top: 2rem;
}
    
}