html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

body, input, button, a {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: 'Pompiere', cursive;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  display: block;
  height: auto;
}

button {
  background: none;
  border: none;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
  padding: 0 7%;
}

p {
  font-size: 1.5rem;
  line-height: 1.5;
}

.font--logo {
  font-size: 3.58rem;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 1.1px;
}

.font--nav {
  font-size: 2rem;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

.font--footer {
  font-size: 2rem;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
}

.font--button {
  font-size: 2rem;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 1px;
  text-align: center;
}

.font--heading1 {
  font-size: 11rem;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: normal;
  text-align: left;
}

.font--heading2 {
  font-size: 8rem;
  font-weight: 400;
  line-height: 92px;
  letter-spacing: normal;
  text-align: left;
}

.font--heading3 {
  font-size: 5.2rem;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 1.2px;
  text-align: left;
}

.font--heading4 {
  font-size: 5.2rem;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 1.2px;
  text-align: center;
}

.font--heading5 {
  font-size: 5.2rem;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 1.2px;
  text-align: left;
}

.font--heading6 {
  font-size: 4.2rem;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 1.3px;
  text-align: left;
}

.font--heading7 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 1.3px;
  text-align: left;
}

.hero {
  background-image: url("./../shoe-kloset/header-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 55%;
  min-height: 50vh;
}

.info {
  background-color: #FAE5FF;
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.hero__div-img-shoe-balls {
  position: absolute;
  right: 0;
  top: 11vh;
  width: 50vh;
}

.hero__container-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}

.hero__container-nav li {
  display: inline-block;
  margin: 0 10px;
}

.hero__container-nav a {
  color: black;
  padding: 5px 10px;
}

.hero__container-nav a:focus, .hero__container-nav a:hover {
  color: white;
  background-color: #4C0341;
}

.hero__container-nav h3 {
  width: calc( 2rem * 11 / 3);
}

.hero h1 {
  color: #4C0341;
  width: calc( 11rem * 18 / 6);
  margin-top: 105px;
  padding-bottom: 10px;
  position: relative;
  z-index: 10;
}

.info h2 {
  color: #4C0341;
  text-transform: uppercase;
}

.info p {
  text-align: center;
  margin-top: 25px;
}

.info a {
  background-color: #4C0341;
  color: #FFF;
  text-transform: uppercase;
  padding: 7px 25px;
  margin-top: 30px;
}

.products {
  position: relative;
}

.products .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products div:nth-child(2) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.products div:nth-child(4) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.products__div-text-left, .products__div-text-right {
  width: 50%;
  padding-top: 80px;
  padding-bottom: 40px;
}

.products__div-text-left {
  padding-left: 70px;
}

.products__div-text-right {
  padding-right: 70px;
  text-align: right;
}

.outreach {
  background-color: #FAE5FF;
}

.products__div-img-left, .products__div-img-right {
  width: 40vh;
  position: absolute;
}

.products__div-img-left {
  left: 0;
  top: 0;
}

.products__div-img-right {
  right: 0;
  bottom: 0;
}

.products a {
  background-color: #882C07;
  color: white;
  text-transform: uppercase;
  padding: 8px 15px;
}

.products h2 {
  text-transform: uppercase;
}

.products__div-text-right h2 {
  text-align: right;
}

.products p {
  margin: 20px 0;
}
